div.articulo p.fotoarticulo{
    
    float: left;
    width: 250px;
}
div.articulo p.fotoarticulo img {width: 100%;}

div.articulo div.textoarticulo{
    
    float:right;
    width: 590px;
}
div.articulo div.textoarticulo p.tit {
    font-family: "Oswald";
    font-size: 36px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 15px; text-shadow: 2px 2px 0px grey;
}

div.articulo div.textoarticulo p.resumen {
    padding: 15px;
    font-family: "Oswald";
    font-size: 14px;
}

div.articulo div.textoarticulo p.masinfo {
    width: 120px;border-radius: 4px;
    margin-left: 15px;
}
div.articulo div.textoarticulo p.masinfo a {
    color: white; display: block;padding: 5px;border-radius: 4px;
    background: grey;border-radius: 4px;
}

div.articulo div.textoarticulo p.detalles {
    margin-top: 25px;margin-left: 15px;}

div.articulo div.textoarticulo p.detalles span.date span {
    width: 22.7px;
    height: 23.5px;
    display: inline-block;
    float: left;
    background-image: url("../img/glyphicons-halflings.png");
background-position: -188px -117.5px ;}

div.articulo div.textoarticulo p.detalles span.autor {
    padding: 20px; }

div.articulo div.textoarticulo p.detalles span.etiquetas {
    padding: 10px; }
div.articulo div.textoarticulo p.detalles span.visitas {
    padding: 10px; }


div.articulo div.textoarticulo p.detalles span.date span {
    width: 22.7px;height: 23.5px;
    display: inline;
float: left;background-image: url("../img/glyphicons-halflings.png");
background-position: -188px -117px ;}


div.articulo div.textoarticulo p.detalles span.autor span {
    width: 22.7px;height: 23.5px;
    margin-left: -20px;
    position: absolute;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -164px 2px ;}

    div.articulo div.textoarticulo p.detalles span.visitas span {
    width: 22.7px;height: 23.5px;
    margin-left: -20px;
    position: absolute;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -117.25px -117.25px ;}

div.articulo div.textoarticulo p.detalles span.etiquetas span {
    width: 22.7px;height: 23.5px;
     margin-left: -20px;
    position: absolute;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 0px -45px ;}


div#widgets > div > p { 
    font-family: "Oswald";
    font-size: 22px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 10px; text-shadow: 1px 1px 0px grey;
}
div#widgets > div > ul li span {
    width: 22.7px;
    height: 23.5px;display: block;
    float: left;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -0px -90.8px ;
}
div#widgets > div#caja1 > ul li a {
     display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: orange;
    text-decoration: none;
    border-bottom: 1px dashed grey;
}

div#caja2 ul {
    margin-top: 10px;
}
div#caja2 ul li a img{
    float: left;
}
div#caja2 ul li a div.text{
    float: left;
    margin-left: 10px;
    color: black;
    font-size: 12px;
    margin-top: 15px;
}
div#caja2 ul li a div.text p +p {margin-top: 10px;}
div#caja2 ul li {margin-bottom: 10px;}










