div#contactright{
    float: right;
    margin: 5px;
}

div#contactleft{
    float: left;
    margin: 5px;
}

div#contactleft h3{
    font-family: "Oswald";
    font-size: 36px;
    text-shadow: 2px 2px 0px grey;
    margin-bottom: 15px;
    margin-top: 15px;
}

div#contactleft h4{
    margin-bottom: 10px;
}

#contactleft p {
    padding: 10px;
}

input#name {
     width: 400px;
     height: 20px;
 }
input#mail {
    width: 400px;
    height: 20px;
}
input#phone {
    width: 400px;
    height: 20px;
}
input#web {
    width: 400px;
    height: 20px;
}
input#web {
    width: 400px;
    height: 20px;
}
input#query {
    width: 400px;
    height: 20px;
}
div#contactData {
    margin-top: 120px;
}
div#contactData {
    margin-bottom: 50px;
}

.especial {
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}