div#contenido ul li {
     position: relative;
    width: 250px;
    height: 260px;
    float: left;
    margin-left: 32px;
    margin-bottom: 32px;
}
div#contenido ul li:hover div.telon {
background-color: rgba(255,255,255,0);
}

div#contenido {
    background-color: azure;
    margin-top: 32px;
}
div#contenido ul li img {
    height: 200px;
    width: 250px;
    position: absolute;
    z-index: 50;
}
div.telon {
    width: 260px;
    height: 260px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    z-index: 100;
}

div#contenido ul li > p {
    
    position: absolute;
    bottom: 25px;
    left: 15px;
}

div#contenido ul li p + p {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

div.lupa{
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 60px;
    right: 50px;
    z-index: 200;
    background-color: white;
    background-image: url("../img/gallery-item-icons.png");
    background-position: 0px 0px ;    
}
div.lupa a {display: block;width: 42px; height: 42px;}
div.descripcion a {display: block;width: 42px; height: 42px;}
div.lupa:hover {
    background-color: orange;}

div.descripcion{
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 60px;
    right: 0px;
    z-index: 200;
    background-color: white;
    background-image: url("../img/gallery-item-icons.png");
    background-position: -42px 0px ;
}
div.descripcion:hover {
    background-color: orange;
}

div#textoprin p.titulo {
    font-family: "Oswald";
    font-size: 36px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 15px; text-shadow: 2px 2px 0px grey;
}

div#textoprin p.subtitulo{
    padding: 15px;
    font-family: "Oswald";
    font-size: 18px;
}

div#textoprin p.textonoticia {
    padding: 15px;
    font-family: "Oswald";
    font-size: 14px;
}











