div#contenidodetalles {
    margin-top: 15px;}

div#contenidodetalles > p {
    width: 570px; height: 770px;
    float: left;
}

div#contenidodetalles div#textoprin {
    width: 590px;
    float: right;
}

div#textoprin p.titulo {
    font-family: "Oswald";
    font-size: 36px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 15px; text-shadow: 2px 2px 0px grey;
}

div#textoprin p.subtitulo{
    padding: 15px;
    font-family: "Oswald";
    font-size: 18px;
}

div#textoprin p.textonoticia {
    padding: 15px;
    font-family: "Oswald";
    font-size: 14px;
}

div#textoprin ul li {
    
    padding: 10px;
    padding-left: 25px;
    font-family: "Oswald";
    font-size: 12px;
}
div#textoprin p.masinfo {
    float: left;
    background: black; 
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}
div#textoprin p.masinfo a {
    display: block; padding: 8px;
    color: white;text-decoration: none;
}
div#textoprin p.enlace {
    float: right; margin-top: 20px;
}
div#textoprin p.enlace a {
    color: orange;
    text-decoration: none;
}
















