.limpiar {clear: both;}

body {background-image: url(../img/background.jpg);}

div#contenedor {
    width: 1170px;
    margin: 0 auto;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url(../img/page-bg-1.jpg);
}

div#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div#menu{
    
    width: 370px;
    float: right;}

div#contenidoblog {
    
    margin-top:10px; 
    width: 850px;
    float: left;}

div#widgets{
    
    width: 300px;
    float: right;
}
div#pie1,div#pie2,div#pie3,div#pie4 {
    margin-top: 10px;
    width: 285px; 
    float: left;}
div#pie4 {float: right;}
div#caja2 img {width: 100px;}