div#galeria {
            width: 770px;height: 350px;
            margin: 0 auto;
            position: relative;
            float: left;
            padding-right: 5px;
        }

        div#fotos-galeria {width: 100%; height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: all 6s linear 0s;
            
        }

div#fotos-galeria div p { color: white;font-size: 24px;position: absolute;width: 770px;top:20px;left: 20px;}

        div#fotos-galeria:hover {
            transform: rotatex(-360deg);
            transition: all 10s linear 0s;
        }
        div#fotos-galeria div {
            width: 100%; 
            height: 100%;
            position: absolute;
        }
        div.foto1{
            transform: translateZ(175px);
        }
        div.foto2{
            transform: rotatex(180deg) translateZ(175px);
        }
        div.foto3{
            transform: rotateX(90deg) translateZ(175px);}
        div.foto4{
            transform: rotateX(-90deg) translateZ(175px);}