ul.submenu {display: none;position: absolute; width: 100px;
    top:46px; left: 0px;}
div#menu ul li:hover ul.submenu {display: block;}

div#menu ul li ul.submenu > li a {width: 100px;padding: 10px; background: white; color:darkgray;}
div#menu ul li ul.submenu > li:hover a {
    background: #d8450b; color:white;}


div#menu > ul > li {float: right; position: relative; }

div#menu > ul {margin-top: 10px;
border-image: url(../img/border_image_3.png) 20%;
border-top: 10px solid grey;
border-bottom:10px dotted grey;
border-right: 10px dotted grey;
border-left:10px dotted grey;
height: 50px;
}
div#menu ul li a {
    text-decoration: none;
    color: dimgrey;padding: 15px;display: block;
    background: white;
}
div#menu ul li:hover a { background: #d8450b;color: white;}
div#menu ul li a span.flecha {
    width: 22.7px;
    height: 23.5px;display: block;
    float: right; margin-left: 5px;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -310.1px -113.5px ;
}

div#logo {
    
    width: 300px;
    float: left;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    
    border: 5px solid yellow;
    border-image: url(../img/marco_dorado_200.png) 30%;
}

div#menu {
    background-color: whitesmoke;
    
    
}