div#pie2,div#pie3 {margin-left: 8px;}

div#pie > div > p {margin-bottom: 10px;}

div#pie {margin-top: 15px; background-color: dimgray;}

div#pie div#pie3 ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 10px;padding-bottom: 10px;
    padding-left: 15px;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    margin-right: 15px;
}

div#pie5 .izq{
    float: left;
    color: white;
    padding: 5px;
    
}

div#pie5 .der{
    float: right;
    color: white;
    padding: 5px;
    
}

div#pie5 .der a{
    color: white;
    text-decoration: none;
}

div#pie5 .der a:hover{
    color: orange;
}

div#pie5 {
    background-color: black;
    height: 30px;
    margin: 10px;
    
}

div#pie {
    padding: 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#pie1 div.social{
    width: 254px;
    height: 60px;
}

div#pie1 div.social a span{
    width: 49px;
    height: 47px;
}

div#pie1 div.social a span.face{
    background-image: url("../img/social-icons.png");
    background-position: 0px 0px;
    display: block;
    float: left;
}

div#pie1 div.social a span.face:hover{
    background-image: url("../img/social-icons.png");
    background-position: 0px -46px;
    display: block;
    float: left;
}

div#pie1 div.social a span.twit{
    background-image: url("../img/social-icons.png");
    background-position: -51px 0px;
    display: block;
    float: left;
}
div#pie1 div.social a span.twit:hover{
    background-image: url("../img/social-icons.png");
    background-position: -51px -46px;
    display: block;
    float: left;
}

div#pie1 div.social a span.goog{
    background-image: url("../img/social-icons.png");
    background-position: -103px 0px;
    display: block;
    float: left;
}
div#pie1 div.social a span.goog:hover{
    background-image: url("../img/social-icons.png");
    background-position: -103px -46px;
    display: block;
    float: left;
}

div#pie1 div.social a span.rss{
    background-image: url("../img/social-icons.png");
    background-position: -156px 0px;
    display: block;
    float: left;
}

div#pie1 div.social a span.rss:hover{
    background-image: url("../img/social-icons.png");
    background-position: -156px -46px;
    display: block;
    float: left;
}

div#pie1 div.social a span.inst{
    background-image: url("../img/social-icons.png");
    background-position: -205px 0px;
    display: block;
    float: left;
}

div#pie1 div.social a span.inst:hover{
    background-image: url("../img/social-icons.png");
    background-position: -205px -46px;
    display: block;
    float: left;
}